
<div class = "center hero-unit">

	<%= link_to "Ask Question", new_question_path, class: 'btn btn-success'   %>
<!-- Welcome User name -->
	<h1>Welcome <%=@user.name.capitalize %>!</h1>
	<br><br>

	<h2>My questions are the followings:</h2>
<!-- List of questions -->
	<% @questions.each do |q| %>
		<tr> 
  		<td><%= link_to(q.title, q) %></td>
		</tr>
		<br>
	<%end%>


<!-- answers of users -->
	<br><br>
	<h2>My answers are: </h2>

	<% @answers.each do |a| %>
		<br>
		<%=link_to a.description, a.question %>
	<%end%>
</div>
