<div>
<br>
<% if  @notices %>
  <%= @notices %>
<% end %>

<h3>
<%= link_to "Create new question", new_question_path, class: "create_question" %>
</h3>
<br>
<h3>
Or...
</h3>
<br>
<h3>
Answer Questions:
</h3>
<% @questions.each do |question| %>

  <%= link_to question.title, question, class: "question_link" %>
  <br>
<% end %>
</div>
